.example-spacer {
    flex: 1 1 auto;
  }

.fa-button{
  border: none;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  margin-right: 14px;
}
.en-button{
  border: none;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  margin-right: 15px;
}
