<h1 style="text-align: center; margin-top:20px;">Marvel Hero</h1>
<div class="mycard">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title style="text-align: center;">signUp</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>User Name</mat-label>
        <input type="text" (input)="inputHandler($event)" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
          >
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid User Name
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
         User Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="Email" (input)="emailHandler($event)" matInput
               placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid Email
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
         Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="Password" (input)="passwordHandler($event)" matInput
        >
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid Password
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
  <button (click)="onSubmit()" mat-button>signUp</button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
</div>

