<h1 class="mt-20 text-center">{{ 'signup.marvel-hero' | translate}}</h1>
<div class="mt-20 flex justify-center">
<mat-card class="w-1/3">
  <mat-card-header>
    <mat-card-title class="text-center">{{ 'signup.sign' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="flex flex-col p-5">
      <mat-form-field class="example-full-width">
        <mat-label>{{ 'signup.username' | translate}}</mat-label>
        <input type="text" (input)="inputHandler($event)" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
          >
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid User Name
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
         User Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'signup.email' | translate}}</mat-label>
        <input type="Email" (input)="emailHandler($event)" matInput
               placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid Email
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
         Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'signup.password' | translate}}</mat-label>
        <input type="Password" (input)="passwordHandler($event)" matInput
        >
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid Password
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
  <button (click)="onSubmit()" mat-button>{{ 'signup.button' | translate}}</button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
</div>

