<h1 style="text-align: center;">{{'home.hero' | translate}}</h1>
<div class="heroes">
<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="../../assets/spider.jpeg" class="example-header-image">
    <mat-card-title>{{"heroes.name1" | translate}}</mat-card-title>
    <mat-card-subtitle>{{'signup.marvel-hero' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image style="height: 225px;" src='../../assets/spider.jpeg'>
  <mat-card-content>
    <p>
      {{'heroes.title1' | translate}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>{{'heroes.like' | translate}}</button>
   <a href="https://www.marvel.com/characters/spider-man-peter-parker"> <button mat-button>{{'heroes.mar' | translate}}</button></a>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="../../assets/hulk.webp" class="example-header-image">
    <mat-card-title>{{"heroes.name2" | translate}}</mat-card-title>
    <mat-card-subtitle>{{'signup.marvel-hero' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image style="height: 225px;" src='../../assets/hulk.webp'>
  <mat-card-content>
    <p>
      {{'heroes.title2' | translate}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>{{'heroes.like' | translate}}</button>
   <a href="https://www.marvel.com/characters/hulk-bruce-banner"> <button mat-button>{{'heroes.mar' | translate}}</button></a>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="../../assets/thorprof.webp" class="example-header-image">
    <mat-card-title>{{"heroes.name3" | translate}}</mat-card-title>
    <mat-card-subtitle>{{'signup.marvel-hero' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image style="height: 225px;" src='../../assets/thor.jpeg'>
  <mat-card-content>
    <p>
      {{'heroes.title3' | translate}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>{{'heroes.like' | translate}}</button>
   <a href="https://www.marvel.com/characters/thor-thor-odinson"> <button mat-button>{{'heroes.mar' | translate}}</button></a>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="../../assets/capitan.jpg" class="example-header-image">
    <mat-card-title>{{"heroes.name4" | translate}}</mat-card-title>
    <mat-card-subtitle>{{'signup.marvel-hero' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image style="height: 225px;" src='../../assets/capitan.jpg'>
  <mat-card-content>
    <p>
      {{'heroes.title4' | translate}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>{{'heroes.like' | translate}}</button>
   <a href="https://www.marvel.com/characters/captain-america-steve-rogers"> <button mat-button>{{'heroes.mar' | translate}}</button></a>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="../../assets/iron.jpg" class="example-header-image">
    <mat-card-title>{{"heroes.name5" | translate}}</mat-card-title>
    <mat-card-subtitle>{{'signup.marvel-hero' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image style="height: 225px;" src='../../assets/iron.jpg'>
  <mat-card-content>
    <p>
      {{'heroes.title5' | translate}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>{{'heroes.like' | translate}}</button>
   <a href="https://www.marvel.com/characters/iron-man-tony-stark"> <button mat-button>{{'heroes.mar' | translate}}</button></a>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="../../assets/captan.jpg" class="example-header-image">
    <mat-card-title>{{"heroes.name6" | translate}}</mat-card-title>
    <mat-card-subtitle>{{'signup.marvel-hero' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image style="height: 225px;" src='../../assets/captan.jpg'>
  <mat-card-content>
    <p>
      {{'heroes.title6' | translate}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>{{'heroes.like' | translate}}</button>
   <a href="https://www.marvel.com/characters/captain-marvel-carol-danvers/in-comics"> <button mat-button>{{'heroes.mar' | translate}}</button></a>
  </mat-card-actions>
</mat-card>
</div>
<app-comics></app-comics>
