<h1 class="text-center">{{'home.hero' | translate}}</h1>
<div class="flex justify-between flex-wrap">
<mat-card *ngFor="let data of datas" class="max-w-sm ml-0 h-fit mt-20">
  <mat-card-header>
    <img mat-card-avatar src={{data.thumbnail.path}}.{{data.thumbnail.extension}} class="example-header-image">
    <mat-card-title>{{data.name}}</mat-card-title>
    <mat-card-subtitle>{{'signup.marvel-hero' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="h-96 w-96" src={{data.thumbnail.path}}.{{data.thumbnail.extension}}>
  <mat-card-actions>
    <button mat-button>{{'heroes.like' | translate}}</button>
   <a href={{data.urls[0].url}}> <button mat-button>{{'heroes.mar' | translate}}</button></a>
  </mat-card-actions>
</mat-card>
</div>
<app-comics></app-comics>
